<h1>
<%= "#{category.name} Questions:" if filter == "category" %>
<%= "Newest Questions:" if filter == "newest" %>
<%= "Oldest Questions:" if filter == "oldest" %>
<%= "Most Answered Questions:" if filter == "most answered" %>
<%#= "Questions by #{user.username}:" if user %>
</h1>