<li> 
  <div><strong>
    <%= link_to "#{answer.user.username}", user_answers_path(answer.user) %>:
  </strong></div>

  <a href="#" class="js-more-answer" data-id="<%= answer.id %>"> <%= truncate answer.content, length: 45 %></a>
  
  <%= render partial: "upvotes/upvote_button", locals: {answer: answer} %>

</li>
<br>