<li> 
  <div><strong>
    <%= link_to "#{answer.user.username}", user_answers_path(answer.user) %>:
  </strong></div>

  <%= answer.content %>
  
  <%= render partial: "upvotes/upvote", locals: {answer: answer} %>

</li>
<br>