<%= form_for(@answer, @question) do |f| %>

  <div class="field-with-errors">
    <%= text_area_tag 'answer[content]', "#{answer.content}", rows: 4, cols: 40 %>
    <%= hidden_field_tag 'answer[question_id]', question.id %>
  </div>

  <div class="actions">
    <%= f.submit "Submit Answer" %>
  </div>
<% end %>