<% answers.each do |answer| %>
  <% question = answer.question %>
  <h3 id="question">Q: <%= link_to "#{question.content}", question %></h3>
    
    <%= render partial: "favorites/favorite_button", locals: {question: question} %>

    <div>
      <p id="answer">A: <%= answer.content %></p>
    </div>
    
    <%= render partial: "upvotes/upvote_button", locals: {answer: answer} %>

  <br>
<% end %>