<% question = user_answer.question %>

<div>

  <div class="question">

    <h3 id="question">

      <%= link_to "#{question.content}", question %>
      
    </h3>

    <%= render partial: "favorites/favorite_button", locals: {question: question} %>

  </div>

  <div class="answer">
    
    <%= render user_answer %>

  </div>

</div>