<!-- <p><strong>Question by:</strong> <%= @question.asker.username %>
</p>

<h2><%= @question.content %></h2>

Enter your answer here:

<%= render partial: 'answers/form', locals: {answer: @answer, question: @question} %> -->