<%= content_tag(:div, flash[:error], :id => "flash_error error_explanation") if flash[:error] %>
<p id="notice"><%= notice %></p>
<%= content_tag(:div, flash[:alert], :id => "flash_alert error_explanation") if flash[:alert] %>